# Supabase PostgreSQL Connection
# Get these from your Supabase dashboard > Settings > Database
DATABASE_URL=postgres://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres


# NextAuth
AUTH_SECRET=your-auth-secret-here
GOOGLE_ID=your-google-client-id
GOOGLE_SECRET=your-google-client-secret
AUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
